<strong>Olá, {{ deliverer }}</strong>
<p>Uma entrega foi cadastrada para você! Confira os detalhes abaixo:</p>
<p>
  <strong>Destino: </strong> {{ recipient }} <br />
  <strong>Produto: </strong> {{ product }} <br />

  <strong>Data/hora: </strong> {{ date }} <br />
  <br />
  <small>
    Aguardamos sua retirada o quanto antes!
  </small>
</p>
